<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Explicación VLSM</title>
  <link rel="stylesheet" href="../CSS/styleVLSM.css">
    <link rel="icon" type="image/x-icon" href="../Recuorse/Icon2.ico">

</head>
<body>
  <section class="contenedor">
    <h2>📖 Explicación del cálculo VLSM (Ejemplo con una subred)</h2>

    <div id="explicacion"></div>

    <a href="vlsm.html" class="boton">⬅️ Volver a la calculadora</a>
  </section>

  <script src="../JS/explicacionVLSM.js"></script>
</body>
</html>
