#resultados {
  background-color: #fff;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

span.bit {
  font-family: monospace;
  font-weight: bold;
  padding: 2px;
}
.red { color: #4CAF50; }
.host { color: #F44336; }